
ConferencePlanner/.vs/ConferencePlanner/DesignTimeBuild/.dtbcache.v2
ConferencePlanner/.vs/ConferencePlanner/v16/.suo
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/appsettings.Development.json
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/appsettings.json
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/BackEnd.deps.json
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/BackEnd.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/BackEnd.exe
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/BackEnd.pdb
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/BackEnd.runtimeconfig.dev.json
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/BackEnd.runtimeconfig.json
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ConferenceDTO.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ConferenceDTO.pdb
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
ConferencePlanner/BackEnd/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
ConferencePlanner/BackEnd/obj/BackEnd.csproj.nuget.dgspec.json
ConferencePlanner/BackEnd/obj/BackEnd.csproj.nuget.g.props
ConferencePlanner/BackEnd/obj/BackEnd.csproj.nuget.g.targets
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.AssemblyInfo.cs
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.AssemblyInfoInputs.cache
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.assets.cache
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.csproj.CopyComplete
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.csproj.CoreCompileInputs.cache
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.csproj.FileListAbsolute.txt
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.csprojAssemblyReference.cache
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.dll
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.exe
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.genruntimeconfig.cache
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.MvcApplicationPartsAssemblyInfo.cache
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.MvcApplicationPartsAssemblyInfo.cs
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.pdb
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/BackEnd.RazorTargetAssemblyInfo.cache
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/staticwebassets/BackEnd.StaticWebAssets.Manifest.cache
ConferencePlanner/BackEnd/obj/Debug/netcoreapp3.1/staticwebassets/BackEnd.StaticWebAssets.xml
ConferencePlanner/BackEnd/obj/project.assets.json
ConferencePlanner/BackEnd/obj/project.nuget.cache
ConferencePlanner/ConferenceDTO/bin/Debug/netstandard2.1/ConferenceDTO.deps.json
ConferencePlanner/ConferenceDTO/bin/Debug/netstandard2.1/ConferenceDTO.dll
ConferencePlanner/ConferenceDTO/bin/Debug/netstandard2.1/ConferenceDTO.pdb
ConferencePlanner/ConferenceDTO/obj/ConferenceDTO.csproj.nuget.dgspec.json
ConferencePlanner/ConferenceDTO/obj/ConferenceDTO.csproj.nuget.g.props
ConferencePlanner/ConferenceDTO/obj/ConferenceDTO.csproj.nuget.g.targets
ConferencePlanner/ConferenceDTO/obj/Debug/netstandard2.1/ConferenceDTO.AssemblyInfo.cs
ConferencePlanner/ConferenceDTO/obj/Debug/netstandard2.1/ConferenceDTO.AssemblyInfoInputs.cache
ConferencePlanner/ConferenceDTO/obj/Debug/netstandard2.1/ConferenceDTO.assets.cache
ConferencePlanner/ConferenceDTO/obj/Debug/netstandard2.1/ConferenceDTO.csproj.CoreCompileInputs.cache
ConferencePlanner/ConferenceDTO/obj/Debug/netstandard2.1/ConferenceDTO.csproj.FileListAbsolute.txt
ConferencePlanner/ConferenceDTO/obj/Debug/netstandard2.1/ConferenceDTO.csprojAssemblyReference.cache
ConferencePlanner/ConferenceDTO/obj/Debug/netstandard2.1/ConferenceDTO.dll
ConferencePlanner/ConferenceDTO/obj/Debug/netstandard2.1/ConferenceDTO.pdb
ConferencePlanner/ConferenceDTO/obj/project.assets.json
ConferencePlanner/ConferenceDTO/obj/project.nuget.cache
ConferencePlanner/.vs/ConferencePlanner/config/applicationhost.config
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.AssemblyInfo.cs
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.AssemblyInfoInputs.cache
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.assets.cache
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.csprojAssemblyReference.cache
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.RazorAssemblyInfo.cache
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.RazorAssemblyInfo.cs
ConferencePlanner/FrontEnd/obj/FrontEnd.csproj.nuget.dgspec.json
ConferencePlanner/FrontEnd/obj/FrontEnd.csproj.nuget.g.props
ConferencePlanner/FrontEnd/obj/FrontEnd.csproj.nuget.g.targets
ConferencePlanner/FrontEnd/obj/project.assets.json
ConferencePlanner/FrontEnd/obj/project.nuget.cache
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/staticwebassets/FrontEnd.StaticWebAssets.xml
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/staticwebassets/FrontEnd.StaticWebAssets.Manifest.cache
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.Views.pdb
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.Views.dll
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.TagHelpers.output.cache
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.TagHelpers.input.cache
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.RazorTargetAssemblyInfo.cs
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.RazorTargetAssemblyInfo.cache
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.RazorCoreGenerate.cache
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.pdb
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.MvcApplicationPartsAssemblyInfo.cache
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.genruntimeconfig.cache
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.exe
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.dll
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.csproj.FileListAbsolute.txt
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.csproj.CoreCompileInputs.cache
ConferencePlanner/FrontEnd/obj/Debug/netcoreapp3.1/FrontEnd.csproj.CopyComplete
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/System.Net.Http.Formatting.dll
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.Views.pdb
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.Views.dll
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.runtimeconfig.json
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.runtimeconfig.dev.json
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.pdb
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.exe
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.dll
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/FrontEnd.deps.json
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/ConferenceDTO.pdb
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/ConferenceDTO.dll
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/appsettings.json
ConferencePlanner/FrontEnd/bin/Debug/netcoreapp3.1/appsettings.Development.json
